body {
  font-family: "Raleway", sans-serif;
  font-size: larger;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
#web-dev {
  color: orange;
  font-size: 40px;
}

.name-highlight {
  color: rgb(255, 165, 0);
  font-size: 60px;
}
#goal-life {
  color: slateblue;
  font-size: 60px;
}
#dev {
  font-size: 40px;
  color: rgb(24, 109, 189);
}
p {
  color: dimgray;
  font-size: 25px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;

  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-repeat: no-repeat;
  background-position: left;
}
section {
  height: 500px;
  padding-bottom: 250px;
}
.hire-link {
  text-decoration: none;
  background-image: linear-gradient(60deg, hsl(17, 100%, 74%), orange);
  border-radius: 5px;
  padding: 10px 20px;
  color: azure;
  font-weight: 700;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.mid-half-width {
  width: 40%;
  float: right;
  margin-right: 5%;
  padding-right: 2%;
}
.mid-half-width img {
  width: 100%;
}
.mid-banner {
  background-image: url("./images/biography-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.project-link {
  text-decoration: none;
  background-image: linear-gradient(60deg, rgb(24, 109, 189), slateblue);
  border-radius: 5px;
  padding: 10px 20px;
  color: azure;
  font-weight: 700;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: all 0.2s ease-in-out;
}
.project-link:hover {
  transform: scale(1.5);
}
.hire-link:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.experience-tab {
  box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.418);
  border-radius: 5px;
  border: whitesmoke;
  height: cover;
  background-color: whitesmoke;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.bottom-banner {
  height: 500px;
  background-image: url("./images/latest-work-bg.png");
  background-repeat: no-repeat;
}
.bottom-half-width {
  width: 25%;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bottom-half-width img {
  width: 100%;
}
#my-work {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  color: rgb(48, 160, 44);
}

footer p {
  text-align: center;
  font-size: 12px;
}

.fade {
  opacity: 0.8;
}
.fade:hover {
  opacity: 1;
}

#exp {
  text-align: center;
  font-weight: 900;
}
#compliment {
  text-align: center;
  font-size: 55px;
  font-weight: 900;
  color: rgb(180, 57, 98);
}
.last-banner {
  height: 500px;
  background-image: url("./images/footer-bg.png");
  background-repeat: no-repeat;
}
#client {
  text-align: center;
  font-weight: 900;
}
.designition {
  color: dimgray;
  text-align: center;
  font-size: medium;
}
.compliment {
  text-align: center;
  color: rgb(167, 14, 65);

  margin-right: 5%;
  margin-left: 5%;
  padding-top: 2%;
}
.compliment-para {
  color: black;
}
.contact-link {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.email-link {
  text-decoration: none;
  background-image: linear-gradient(30deg, rgb(255, 0, 106), rgb(197, 3, 110));
  border-radius: 5px;
  padding: 5px 50px;
  color: azure;
  font-weight: 700;
  display: inline-block;
  transition: all 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.email-para {
  text-align: center;
  color: white;
  font-size: small;
  font-weight: lighter;
}
.slide-right {
  -webkit-animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
.slide-left {
  -webkit-animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

.fade {
  opacity: 0.8;
}
.fade:hover {
  opacity: 1;
}

.experience-tab:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
#exp {
  text-align: center;
  font-weight: 900;
}
.email-link:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
#canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
